@model IEnumerable<StoreFront.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<section class="product_section layout_padding gray-section py-4">
    <div class="heading_container heading_center">
        <h2>Our <span>Categories</span></h2>
        <p align="center">
            <a asp-action="Create">Add New Category</a>
        </p>
    </div>
</section>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CategoryId">
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> | *@
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
