@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = @Model.ProductName + " Details";
}

<section class="product_section layout_padding gray-section py-4">
    <div class="heading_container heading_center">
        <h2><span>@Model.ProductName</span></h2>
    </div>
</section>

<div class="row mb-3 border rounded shadow mx-auto p-4">

    <div class="col-md-6 offset-3 text-center">
        <img src="~/images/@Model.ImageName" alt="@Model.ProductName" longdesc="@Model.ProductDescription" class="img-fluid" />
        <p class="text-info mt-3">
            @Html.DisplayFor(model => model.ProductDescription)
        </p>
    </div>
    <div class="offset-0 offset-md-3 col-md-3">
        <p>
            <strong>@Html.DisplayNameFor(model => model.Price)</strong>
            @Html.DisplayFor(model => model.Price)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.Season)</strong>
            @Html.DisplayFor(model => model.Season)
        </p>
        <p>
            <strong><label asp-for="UnitsInStock"></label></strong>
            @Html.DisplayFor(model => model.UnitsInStock)
        </p>
    </div>
    <div class="offset-0 offset-md-1 col-md-5">
        <p>
            <strong>@Html.DisplayNameFor(model => model.Category.CategoryName)</strong>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.Supplier.SupplierName)</strong>
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </p>
    </div>
    <div class="col-md-6 mx-auto">
        <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-secondary btn-block">Edit</a>
        <a asp-action="Index" class="btn btn-primary btn-block">Back to Products</a>
    </div>
</div>
