@model StoreFront.DATA.EF.Models.Order

@{
    ViewData["Title"] = "Delete Order";
}

<section class="product_section layout_padding gray-section py-4">
    <div class="heading_container heading_center">
        <h2>Delete <span>Order</span></h2>
        <p align="center">
        </p>
    </div>
</section>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Orders</a>
    </form>
</div>
